@import './colours.scss';

%card {
    background-color: $light;
    color: $dark;
    border-radius: 15px;
    padding: 30px;
    margin-right: 20px;
}

.card {
    @extend %card;
}

.card.shadow {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.card.blur {
    backdrop-filter: blur(15px);
    background-color: rgba($light, 0.8) !important;
}