$primary: #E51062;
$danger: #E73D3D;
$warning: #F2C94C;
$success: #27AE60;
$link: #2F80ED;
$info: #2D9CDB;

$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;

$dark: $gray-1;
$light: $gray-6;